asgiref==3.12.1
Django==6.0.7
django-redis==7.0.0
djangorestframework==3.17.1
grpcio==1.83.0
grpcio-tools==1.83.0
protobuf==7.35.1
psycopg2-binary==2.9.12
redis==8.0.1
setuptools==83.0.0
sqlparse==0.5.5
typing_extensions==4.16.0
