# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Env & secrets
.env
.env.local
*.env

# Node / React
node_modules/
dist/
build/
.vite/
npm-debug.log*

# gRPC generated stubs (uncomment if you don't want to commit generated code)
# *_pb2.py
# *_pb2_grpc.py

# Docker
docker-compose.override.yml

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
